.appointment-section {
  width: 80%;
  max-width: 750px;
  margin: 50px auto;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.appointment-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 600;
}

.appointment-form {
  background: #f5eee7;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
}

.form-group {
  margin-bottom: 18px;
  text-align: left;
}

.form-group label {
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 15px;
  transition: 0.3s ease;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #4a7cff;
  outline: none;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  background: #91765a;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #01040b;
}

.form-group.full {
  grid-column: span 2;
}
