.footer-section {
  background: #111;
  color: #ddd;
  padding: 50px 0;
  font-family: "Inter", sans-serif;
}

.footer-container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  min-width: 250px;
}

.footer-col h3 {
  margin-bottom: 15px;
  color: #efeeeb;
}

.footer-col p,
.footer-col a {
  color: #cac6c2;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-link {
  text-decoration: none;
  color: inherit;
}

.contact-icons a:hover {
  color: #d4a047;
}
.contact-icons p:hover {
  color: #d4a047;
}

.social-icons {
  display: flex;
  flex-direction: row;
}

.social-icons a {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  color: #d4a047;
  margin-right: 10px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #eeecea;
}

.subscribe-box {
  margin-top: 10px;
  display: flex;
}

.subscribe-box input {
  padding: 10px;
  border: none;

  width: 70%;
}

.subscribe-box button {
  padding: 10px 18px;
  border: none;
  background: #d4a047;
  color: #111;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

.subscribe-box button:hover {
  background: #b58437;
}
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #333;
  color: #bbb;
}
.footer-bottom span {
  color: #d4a047;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: left;
  }

  .footer-col {
    align-items: flex-start !important;
    text-align: left !important;
  }
}
